* {
    font-family: sans-serif;
    font-size: 12px;
}

button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

button:hover {
    background-color: rgb(221,221,221);
    background-color: rgba(221,221,221, 0.5);
    cursor: pointer;
}

.notifBar, .tileDock, .dashDock, .topButtons {
	position: fixed;
	z-index: 1000000;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

.notifBar {
	width: 50%;
	left: 25%;
	height: 50px;
	top: -65px;
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#notifExpand, #notifCollapse {
	display: block;
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
#notifCollapse {
	display: none;
}

.topButtons {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: -250px;
    right: -250px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.topButtons.in {
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}

.tileDock {
	height: 80%;
	top: 5%;
	width: 300px;
	left: -310px;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.dashDock {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	height: 75px;
	bottom: -85px;
	left: 0px;
	border-bottom: none;
}

.dashDock > .container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pageButton.current {
    background-color: #A5A3D8 !important;
    cursor: default !important;
}

.visible {
    display: inline !important;
}

.garbage {
    position: fixed;
    bottom: -3px;
    left: 47%;
    height: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
}

.garbage.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#tileable {
    overflow:hidden;
}

#notifToggle {
    left: 48%;
    position: absolute;
    bottom: -12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

#notifToggle:hover {
    cursor: pointer;
    background-color: #ddd;
}

.notifArea {
    height: 100%;
    overflow: scroll;
}

.anon {
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

.close_anon {
    float: right;
    background-image: url('img/icon_x.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

i[class^='icon_']:hover {
    cursor: pointer;
    opacity: 0.6;
}

.icon_setting {
    background-image: url('img/icon_setting.jpg');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 68px;
    bottom: 28px;
}

.icon_logout {
    background-image: url('img/icon_logout.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 21px;
    bottom: 73px;
}

.close_anon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.announc_default {
    background-color:#fff;
    border:1px solid #ccc;
}

.announc_severe {
    background-color:#d9534f;
    border:1px solid #d43f3a;
}

.announc_warning {
    background-color:#F7A22A;
    border:1px solid #E28500;
}

.announc_info {
    background-color:#59C2E0;
    border:1px solid #46b8da;
}

.announc_success {
    background-color:#5cb85c;
    border:1px solid #4cae4c;
}

.page {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
}

.page > .con_page, .page, .modal, .opacityFade {
    -webkit-transition: -webkit-transform .75s ease-in-out, opacity .75s ease-in-out;
       -moz-transition: -moz-transform .75s ease-in-out, opacity .75s ease-in-out;
        -ms-transition: -ms-transform .75s ease-in-out, opacity .75s ease-in-out;
         -o-transition: -o-transform .75s ease-in-out, opacity .75s ease-in-out;
            transition: transform .75s ease-in-out, opacity .75s ease-in-out;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.floatLeft {
    left: -100%;
}

.floatRight {
    right: -100%;
}

.floatTop {
    top: -100%
}

.floatBottom {
    bottom: -100%;
}

.floatLeftSlide {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
    opacity: 0;
}

.floatLeftSlide > .con_page {
    -webkit-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
       -moz-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
        -ms-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
}

.floatRightSlide {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
    opacity: 0;
}

.floatRightSlide > .con_page {
    -webkit-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
       -moz-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
        -ms-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
            transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
}

.floatTopSlide {
    -webkit-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
       -moz-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
    opacity: 0;
}

.floatBottomSlide {
    -webkit-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
    opacity: 0;
}

.modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
}

.modal {
    width: 40%;
    height: 60%;
    left: 30%;
    top: 10%;
    position:absolute;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.modal > .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.modal > .footer > button {
    float: left;
    height: 45px;
    width: 49%;
    margin: 0.5%;
}

.modal > div.form {
    float: left;
    width: 90%;
    padding: 5%;
    padding-bottom: 50px;
    padding-top: 5px;
}

.error {
    -webkit-transition: border-color .25s ease-in-out, box-shadow .25s ease-in-out;
    transition: border-color .25s ease-in-out, box-shadow .25s ease-in-out;
    border-color:#f00;
    box-shadow: 0px 0px 2px 1px #f00;
}

.error:focus {
    outline: none;
}

.modal > div.form > span > input[type='text'] {
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #ddd;
    height: 20px;
}

.modal > span.title {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #eee;
    float: left;
    text-align: center;
    font-size: 18px;
}

.closeModalButton {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    right: -15px;
    top: -15px;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    line-height: 24px;
    font-size: 30px;
    cursor: pointer;
}

.closeModalButton:hover {
    color: #fff;
    background-color: #333;
}

.dashDock > .container {
    list-style: none;
    height: 65px;
}

.dashDock li.pageButton, #addAPage {
    float: left;
	height:50px;
	width:50px;
	margin: 13px;
    margin-top: 0;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    outline: -webkit-focus-ring-color auto 0px !important;
    overflow: hidden;
}

.dashDock li.pageButton:hover, #addAPage:hover {
	cursor: pointer;
	background-color: #ddd;
}