.notifBar, .tileDock, .dashDock, .topButtons {
	position: fixed;
	z-index: 1000000;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

.notifBar {
	width: 50%;
	left: 25%;
	height: 50px;
	top: -60px;
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#notifExpand, #notifCollapse {
	display: block;
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}
#notifCollapse {
	display: none;
}

.topButtons {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: -250px;
    right: -250px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.topButtons.in {
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}

.tileDock {
	height: 80%;
	top: 5%;
	width: 300px;
	left: -310px;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.dashDock {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	height: 75px;
	bottom: -85px;
	left: 0px;
	border-bottom: none;
}

.visible {
    display: inline !important;
}

.garbage {
    position: fixed;
    bottom: 0px;
    left: 47%;
    height: 20px;
    padding: 20px;
    background-color: #ffcc33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

.garbage.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#tileable {
    overflow:hidden;
}

#notifToggle {
    left: 48%;
    position: absolute;
    bottom: -12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

#notifToggle:hover {
    cursor: pointer;
    background-color: #ddd;
}

.notifArea {
    height: 100%;
    overflow: scroll;
}

.anon {
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

.close_anon {
    float: right;
    background-image: url('img/icon_x.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

i[class^='icon_']:hover {
    cursor: pointer;
    opacity: 0.6;
}

.icon_setting {
    background-image: url('img/icon_setting.jpg');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 68px;
    bottom: 28px;
}

.icon_logout {
    background-image: url('img/icon_logout.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 21px;
    bottom: 73px;
}

.close_anon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.announc_default {
    background-color:#fff;
    border:1px solid #ccc;
}

.announc_severe {
    background-color:#d9534f;
    border:1px solid #d43f3a;
}

.announc_warning {
    background-color:#F7A22A;
    border:1px solid #E28500;
}

.announc_info {
    background-color:#59C2E0;
    border:1px solid #46b8da;
}

.announc_success {
    background-color:#5cb85c;
    border:1px solid #4cae4c;
}

.page {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
}

.page > .con_page, .page {
    -webkit-transition: -webkit-transform .75s ease-in-out, opacity .75s ease-in-out;
       -moz-transition: -moz-transform .75s ease-in-out, opacity .75s ease-in-out;
        -ms-transition: -ms-transform .75s ease-in-out, opacity .75s ease-in-out;
         -o-transition: -o-transform .75s ease-in-out, opacity .75s ease-in-out;
            transition: transform .75s ease-in-out, opacity .75s ease-in-out;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.page.slideLeft {
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
    opacity: 0;
}

.page.slideLeft > .con_page {
    -webkit-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
       -moz-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
        -ms-transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
            transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0);
}

.page.slideRight {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
    opacity: 0;
}

.page.slideRight > .con_page {
    -webkit-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
       -moz-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
        -ms-transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
            transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0);
}

.page.slideTop {
    -webkit-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
       -moz-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0) rotateY(-90deg) translate3d(0, -100%, 0);
    opacity: 0;
}

.page.slideBottom {
    -webkit-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0) rotateY(-90deg) translate3d(0, 100%, 0);
    opacity: 0;
}

.dashDock button.pageButton, #addAPage {
	height:50px;
	width:50px;
	margin: 13px;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

.dashDock button.pageButton:hover, #addAPage:hover {
	cursor: pointer;
	background-color: #ddd;
}