.tile {
    background-color: #ddd;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius:3px;
    float: left;
    margin: 10px;
    position: relative;
    box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.5);
    overflow: hidden;
}

.tile > .front > .contents {
    width: 100%;
    height: 100%;
}

.tile.flipped, .back {
    -webkit-transform:scaleX(-1);
    -ms-transform:scale(-1,1);
    transform:scaleX(-1);
}

.tile_1x1 {
    width: 150px;
    height: 150px;
}

.tile_1x4 {
    width: 150px;
    height: 600px;
}

.tile_2x2 {
    width: 300px;
    height: 300px;
}

.tile_3x1 {
    width: 450px;
    height: 150px;
}

.tile_3x2 {
    width: 450px;
    height: 300px;
}

.tile_3x3 {
    width: 450px;
    height: 450px;
}

.tile_4x3 {
    width: 600px;
    height: 450px;
}

.tile_4x4 {
    width: 600px;
    height: 600px;
}

.tile_4x4 > .front > .contents {
    width: 600px;
    height: 600px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.back {
    opacity: 0;
}

.front {
    opacity: 1;
}

.back .contents {
    top: 25px;
}

.contents {
    position: absolute;
    z-index:50;
}

.front, .back, .tile {
    -webkit-transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
}

.back {
    display: none;
}

.front.flipped {
    display: none;
    opacity: 0;
}

.flipped.back {
    display: block;
    z-index:100;
    background-color: #ddd;
    opacity: 1;
}

.filter {
    display: none;
}

.filters .settings {
    display: none;
}

.filters .filter {
    display: block;
}

.pull-right {
    float: right !important;
}

.setting_span {
    position: absolute;
    width: 100%;
    height: 25px;
    z-index:100;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.setting_span:hover {
    background-color: #ddd;
}

.front .setting_span {
    opacity: 0;
    cursor: pointer;
}

.front .setting_span:hover {
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.5);
}

button.setting_btn {
    width: 20px;
    height: 20px;
    margin: 2px;
    margin-top: 3px;
}

.setting_btn {
    display: none;
    float: left;
}

.title_area {
    height: 20px;
    overflow: hidden;
    position: relative;
    margin: 3px;
    cursor: -webkit-grab;
}

.tile_title {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.too_long {
    animation: mymove 8s linear infinite;
    -webkit-animation: mymove 8s linear infinite;
    -moz-animation: mymove 8s linear infinite;
    position: relative;
    float: left;
    width: 200%;
    height: 100%;
    margin: 0;
}

@keyframes mymove
{
0%   {left:110%;}
100% {left:-110%}
}

@-webkit-keyframes mymove
{
0%   {left:110%}
100% {left:-110%}
}

.miniTile {
    float: left;
    position: relative;
    width: 68px;
    height: 68px;
    background-color: #ffcc33;
    margin:15px;
    border: 1px solid #ddd;
    border-radius:3px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}

.miniTile:hover {
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}

.miniTileSize {
    position: absolute;
    right: 0;
    padding: 2px;
    border-bottom-left-radius: 3px;
    background-color: rgba(255,255,255,.5);
    font-weight: bold;
    font-size: 15px;
    }

.background_chart {
    background: url(img/tile_chart.png) no-repeat;
}

.background_table {
    background: url(img/tile_table.png) no-repeat;
}

.background_number {
    background: url(img/tile_number.png) no-repeat;
}

.background_map {
    background: url(img/tile_map.png) no-repeat;
}

/* Tile Type Specific Styles */

.tile[tile-type='table'] .dynatable-record-count {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    margin-bottom: 0px;
}

.tile[tile-type='table'] .dynatable-pagination-links {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 13px;
}

.tile[tile-type='table'] .dynatable-per-page {
    position: absolute;
    bottom: 0;
    left: 45%;
    margin-bottom: 15px;
}

.tile[tile-type='table'] .dynatable-search {
    position: absolute;
    bottom: 20px;
    margin-bottom: 3px;
    left: 0;
    margin-left: 5px;
}

.tile[tile-type='table'].tile_3x3 .table_cont {
    max-height: 401px;
}

.tile[tile-type='table'] table.table {
    margin-top: 22px;
    width: 100%;
}
