.tile {
    background-color: #ddd;
    border: 1px dashed #000;
    float: left;
    margin: 10px;
    position: relative;
}

.tile.flipped, .back {
    -webkit-transform:scaleX(-1);
    -ms-transform:scale(-1,1);
    transform:scaleX(-1);
}
/*translate(-150px, 0px)*/

/** TILE_X_Y
         x
     _________
    |         |
 y  |   TILE  |
    |         |
    |_________|

Screen is 8 wide.
**/

.tile_1x1 {
    width: 150px;
    height: 150px;
}

.tile_1x4 {
    width: 150px;
    height: 600px;
}

.tile_2x2 {
    width: 300px;
    height: 300px;
}

.tile_3x1 {
    width: 450px;
    height: 150px;
}

.tile_3x2 {
    width: 450px;
    height: 300px;
}

.tile_4x3 {
    width: 600px;
    height: 450px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.back {
    opacity: 0;
}

.front {
    opacity: 1;
}

.back .contents {
    top: 25px;
}

.contents {
    position: absolute;
    z-index:50;
}

.front, .back, .tile {
    -webkit-transition: -webkit-transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
}

.back {
    display: none;
}

.front.flipped {
    display: none;
    opacity: 0;
}

.flipped.back {
    display: block;
    z-index:100;
    background-color: #ddd;
    opacity: 1;
}

.filter {
    display: none;
}

.filters .settings {
    display: none;
}

.filters .filter {
    display: block;
}

.pull-right {
    float: right !important;
}

.setting_span {
    position: absolute;
    width: 100%;
    height: 25px;
    z-index:100;
}

.setting_span:hover {
    height: 28px;
    background-color: #ddd;
}

button.setting_btn {
    width: 20px;
    height: 20px;
    margin: 2px;
}

button.setting_btn, button.save_btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

button.setting_btn:hover, button.save_btn:hover {
    background-color: rgb(221,221,221);
    background-color: rgba(221,221,221, 0.5);
    cursor: pointer;
}

.setting_btn {
    display: none;
    float: left;
}

.title_area {
    height: 20px;
    overflow: hidden;
    position: relative;
    margin: 3px;
    cursor: -webkit-grab;
}

.too_long {
    animation: mymove 8s linear infinite;
    -webkit-animation: mymove 8s linear infinite;
    -moz-animation: mymove 8s linear infinite;
    position: relative;
    float: left;
    width: 200%;
    height: 100%;
    margin: 0;
}

@keyframes mymove
{
0%   {left:110%;}
100% {left:-110%}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0%   {left:110%}
100% {left:-110%}
}
