.tile {
    background-color: #ddd;
    border: 1px dashed #000;
    float: left;
    margin: 10px;
    position: relative;
}

.tile.flipped {
    -webkit-transform:scaleX(-1);
    -ms-transform:scale(-1,1);
    transform:scaleX(-1);
}


/** TILE_X_Y
         x
     _________
    |         |
 y  |   TILE  |
    |         |
    |_________|

Screen is 8 wide.
**/

.tile_1x4 {
    width: 150px;
    height: 600px;
}

.tile_2x2 {
    width: 300px;
    height: 300px;
}

.tile_3x1 {
    width: 450px;
    height: 150px;
}

.tile_3x2 {
    width: 450px;
    height: 300px;
}

.tile_4x3 {
    width: 600px;
    height: 450px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.back .contents {
    top: 25px;
}

.contents {
    position: absolute;
    z-index:50;
}

.front, .back, .tile {
    -webkit-transition: -webkit-transform .75s linear;
    transition: transform .75s linear;
}

.back {
    display: none;
    -webkit-transform:scaleX(-1);
    -ms-transform:scale(-1,1);
    transform:scaleX(-1);
}

.flipped.back {
    display: block;
    z-index:100;
    background-color: #ddd;
}

.filter {
    display: none;
}

.filters .settings {
    display: none;
}

.filters .filter {
    display: block;
}

.pull-right {
    float: right;
}

.setting_span {
    position: absolute;
    width: 100%;
    height: 25px;
    z-index:100;
}

.setting_btn {
    display: none;
}

.visible {
    display: inline !important;
}

.garbage {
    position: fixed;
    bottom: 0px;
    left: 47%;
    height: 20px;
    padding: 20px;
    background-color: #ffcc33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

.garbage.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#tileable {
    overflow:hidden;
}

#notifToggle {
    left: 48%;
    position: absolute;
    bottom: -12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: -webkit-focus-ring-color auto 0px !important;
}

#notifToggle:hover {
    cursor: pointer;
    background-color: #ddd;
}

.notifArea {
    height: 100%;
    overflow: scroll;
}

.anon {
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

.close_anon {
    float: right;
    background-image: url('img/icon_x.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.close_anon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.announc_default {
    background-color:#fff;
    border:1px solid #ccc;
}

.announc_severe {
    background-color:#d9534f;
    border:1px solid #d43f3a;
}

.announc_warning {
    background-color:#F7A22A;
    border:1px solid #E28500;
}

.announc_info {
    background-color:#59C2E0;
    border:1px solid #46b8da;
}

.announc_success {
    background-color:#5cb85c;
    border:1px solid #4cae4c;
}